body { background: white }

.wd-left-sidebar {
    color: white;
}

.wd-circle-icon {
    border-radius: 50%;
}

.search-bar {
    background-color: lightgray;
}

.input-group-text {
    background-color: lightgray;
}

/*.nav-link {*/
/*    text-decoration: underline;*/
/*}*/